# Conversion Methods

### 1. Automatic Conversion

In [3]:
import pandas as pd
url = '/Users/rkuma18/Developer/data-science/Pandas/Dataset/vehicles.csv'
df = pd.read_csv(url,low_memory=False)
city_mpg = df.city08
highway_mpg = df.highway08

In [4]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: Int64

In the case of `city_mpg` series, it will change the type from `int64` to `Int64`

`.astype` Methods

In [5]:
city_mpg.astype('Int16')

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: Int16

The default numeric type is 8 bytes wide (64 bits, ie int64 or float64)

-> Inspect limits on integer and float types:

In [6]:
import numpy as np

In [7]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [8]:
np.iinfo('uint8')

iinfo(min=0, max=255, dtype=uint8)

In [9]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [10]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

### 2. Memory Usage

To calculate memory usage of the Series, we can use the `.nbytes` property or the `.memory_usage` method

In [11]:
city_mpg.nbytes

396640

In [12]:
city_mpg.astype('Int16').nbytes

148740

In [13]:
make = df.make
make.nbytes

396640

In [14]:
make.memory_usage()

396772

In [15]:
make.memory_usage(deep=True)

2744141

In [16]:
make.astype('category').memory_usage(deep=True)

112242

### 3. String and Category Types

`.astype` method can also convert numeric series to strings  if we pass `str` into it

In [17]:
city_mpg.astype(str)

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: object

In [18]:
city_mpg.astype('category')

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: category
Categories (142, int64): [6, 7, 8, 9, ..., 149, 150, 151, 153]

### 4. Ordered Categories

In [19]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)
city_mpg.astype(city_type)

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: category
Categories (142, int64): [6 < 7 < 8 < 9 ... 149 < 150 < 151 < 153]

-> Series back to DataFrame

In [20]:
city_mpg.to_frame()

       city08
0          19
1           9
2          23
3          10
4          17
...       ...
49575      19
49576      20
49577      18
49578      18
49579      16

[49580 rows x 1 columns]