# Indexing Operations

### 1. Prepping the Data and Renaming the Index

In [1]:
import pandas as pd
url = '/Users/rkuma18/Developer/data-science/Pandas/Dataset/vehicles.csv'
df = pd.read_csv(url,low_memory=False)
city_mpg = df.city08
highway_mpg = df.highway08

In [3]:
make = df.make
city2 = city_mpg.rename(make.to_dict())
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 49580, dtype: int64

The `.rename` method will return a new series with the original values but new index labels

In [4]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=49580)

In [5]:
city2 = city_mpg.rename(make)
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 49580, dtype: int64

### 2. Resetting the Index

In [6]:
city2.reset_index()

            index  city08
0      Alfa Romeo      19
1         Ferrari       9
2           Dodge      23
3           Dodge      10
4          Subaru      17
...           ...     ...
49575      Subaru      19
49576      Subaru      20
49577      Subaru      18
49578      Subaru      18
49579      Subaru      16

[49580 rows x 2 columns]

By default, this method will return a dataframe

To drop the current index and return a Series, use the `drop=True` parameters

In [7]:
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
49575    19
49576    20
49577    18
49578    18
49579    16
Name: city08, Length: 49580, dtype: int64

### 3. The `.loc` Attribute

The `.loc` attribute deal with index labels. It allows us to pull out pieces of the series

In [8]:
city2.loc['Subaru']

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 1036, dtype: int64

In [9]:
city2.loc['Fisker']

Fisker     20
Fisker     99
Fisker    104
Fisker     82
Name: city08, dtype: int64

If we want to guarantee that a series is returned, pass in a list rather than passing in a scalar value.

In [10]:
city2.loc[['Fisker']]

Fisker     20
Fisker     99
Fisker    104
Fisker     82
Name: city08, dtype: int64

In [11]:
city2.loc[['Ferrari', 'Lamborghini']]

Ferrari         9
Ferrari        12
Ferrari        11
Ferrari        10
Ferrari        11
               ..
Lamborghini     6
Lamborghini     8
Lamborghini     8
Lamborghini     8
Lamborghini     8
Name: city08, Length: 455, dtype: int64

We can slice with help of `.loc`

In [12]:
city2.sort_index().loc['Ferrari':'Lamborghini']

Ferrari        17
Ferrari        10
Ferrari        10
Ferrari         9
Ferrari        10
               ..
Lamborghini     8
Lamborghini     9
Lamborghini    13
Lamborghini    10
Lamborghini    10
Name: city08, Length: 13502, dtype: int64

Slicing with `.loc` follow the closed interval. Which includes both the start index and the final index.

### 4. `.iloc` Attribute

The series also support indexing off of the `.iloc` attribute

In [13]:
city2.iloc[0]

np.int64(19)

In [14]:
city2.iloc[-1]

np.int64(16)

In [15]:
city2.iloc[[0,1,-1]]

Alfa Romeo    19
Ferrari        9
Subaru        16
Name: city08, dtype: int64

In [16]:
city2.iloc[-8:]

Saturn    21
Saturn    24
Saturn    21
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

### 5. Head and Tail

The `.head` and `.tail` methods are useful for pulling out values at the start or end of the series.

In [17]:
city2.head(3)

Alfa Romeo    19
Ferrari        9
Dodge         23
Name: city08, dtype: int64

In [18]:
city2.tail(3)

Subaru    18
Subaru    18
Subaru    16
Name: city08, dtype: int64

### 6. Sampling

In [19]:
city2.sample(6, random_state=42)

Porsche         20
Saab            17
Plymouth        19
Dodge           11
BMW             15
Aston Martin    14
Name: city08, dtype: int64

### 7. Filtering Index values

The `.filter` method will filter index labels by exact match, substring, or regural expression.

In [20]:
city2.filter(like='rd')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3904, dtype: int64

In [22]:
city2.filter(regex='(Ford)|(Subaru)')

Subaru    17
Subaru    21
Subaru    22
Ford      18
Ford      16
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 4939, dtype: int64

### 8. Reindexing

The `.reindex` method allows us to pull out values by index label.